<!-- The "What We Do" Section -->
    <section id="whatwedo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What We Do</h2>
                    <h3 class="section-subheading text-muted">When domain experts and open data meet technical talent, good things happen. We're the technical talent.<br /> 
                    We're people with day jobs that apply our expertise to advance public policy, raise the level of civic dialog, and to improve our cities.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-6x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Extract</h4>
                    <p class="text-muted">Data lives in all kinds of hard to reach places. From filing cabinets at city hall, to outdated databases to oh-so-beautiful-but-impossible-to-use PDF files, we put in the hard work to make this data available for public consumption.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-6x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-filter fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Refine</h4>
                    <p class="text-muted">Once the data has been freed (yay!), it still might need a bit of work to make it easy for everyone to use. We make sure the data sets are organized, and stored and accessible through formats that have widely available tooling to consume and use. JSON and us are best buds.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-6x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code-fork fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Create</h4>
                    <p class="text-muted">Now that the data has been freed and made usable, we're free to create whatever we would like! From data journalism to application development to hardware projects, for profit or not-for-profit, our members make things that shape the cities and governments around us.</p>
                </div>
            </div>
        </div>
    </section>
