<!-- The "What We Do" Section -->
    <section id="whatwedo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What We Do</h2>
                    <h3 class="section-subheading text-muted">When domain experts and open data meet technical talent, good things happen. We're the technical talent.<br /> 
                    We're citizens with day jobs that apply our expertise to offer an alternative, data-driven perspective on issues that matter to our cities, provinces and country. A staunchly non-partisan group, we seek to understand and communicate the facts around important issues to everyday citizens.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-6x">
                        <i class="fa fa-comment fa-stack-2x text-primary"></i>
                    </span>
                    <h3 class="service-heading">Communicate</h4>
                    <p class="text-muted" style="text-align:left;">Many of the public issues of the day are complex and multifaceted, with statistics and financials being used by all sides of a debate to strengthen their case. As a result, the public is often left wondering whose numbers to trust, and must sift through dozens of pages of original data sources and documents to get to the bottom of things. That’s where we come in. Being the data nerds we are, we look to consult widely, research deeply, and present our findings in the most straightforward and honest way we can. Our goal is to cut through the clutter so that everyday citizens can make informed opinions on the issues that matter to them.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-6x">
                        <i class="fa fa-university fa-stack-2x text-primary"></i>
                    </span>
                    <h3 class="service-heading">Educate</h4>
                    <p class="text-muted" style="text-align:left;">Data analysis, visualization and communication skills, when wielded by everyday citizens, represent incredibly powerful tools for tackling issues of public importance. They aren’t always the easiest things to learn, however, and the landscape is always changing. To help catalyze the spread of these skills, we look to teach others how to do the work we do with the latest and greatest open-source tools so that others can repeat, check and extend our work for free.</p>
                </div>
            </div>
        </div>
    </section>
