.navbar-brand {
    padding-top: 10px;
}

header .intro-lead-in {
    color: #fcb232;
    text-shadow: 1px 0px #333;
}

header {
    background-image: url(./img/header-bg.jpg);
}

@media screen and (max-width:1024px) {
    header {background-image: url(./img/header-bg1024.jpg);}
}

@media screen and (max-width: 768px) {
    .btn-xl {
        font-size: 14px;
        padding: 10px 15px;
    }
}

.row.typeform {
    text-align: center;
    font-size: 3em;
    margin-top: 35px;
}

section#memberwork {
    padding-bottom: 70px;
}