.navbar-brand {
    padding-top: 10px;
}

header .intro-lead-in {
    color: #fcb232;
    text-shadow: 1px 0px #333;
}

header {
    background-image: url(./img/header-bg.jpg);
}

@media screen and (max-width:1024px) {
    header {background-image: url(./img/header-bg1024.jpg);}
}

@media screen and (max-width: 768px) {
    .btn-xl {
        font-size: 14px;
        padding: 10px 15px;
    }
    .portfolio-modal .modal-content h2 {
        margin-bottom: 15px;
        font-size: 2em;
}
}


section#memberwork {
    padding-bottom: 70px;
    padding-top: 140px;
}

#memberwork h2.section-heading {
    margin-bottom: 30px;
}

a.typeform-share.link, a.joinin.link {
    color: white;
    width: 100%;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row.typeform {
    background-color: #49c15b;
    margin: 35px 0 0 0;
    text-align: center;
    font-size: 3em;
    margin-top: 35px;
}

.row.joinin {
    background-color: #28569a;
    margin: 35px 0 0 0;
    text-align: center;
    font-size: 2em;
    margin-top: 35px;
    padding: 5px 0;
}

.nav>li {
    background: rgba(50, 50, 50, 0.69);
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    outline: 0;
    color: #D6D6D6;
}
